{% extends 'master.html' %}

{% block submenu %}

	{% load assignator %}
	{% assign active "class=\"active\"" %}
	{% if suboption == "many_link" %}
		{% assign many_links active%}
	{% elif suboption == "dir_listing" %}
		{% assign dir_listing active%}
	{% elif suboption == "error_log" %}
		{% assign error_log active%}
	{% endif %}

	<div class="container">
		<ul class="nav nav-pills">
		  	<li {{many_links}}><a href="{% url "home_many_links" %}">Many links</a></li>
			<li {{dir_listing}}><a href="{% url "home_dir_listing" %}">Dir listing</a></li>
		</ul>
	</div>
{% endblock %}