<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<html>
 <head>
  <title>Index of /home</title>
 </head>
 <body>
<h1>Index of /home</h1>
<table><tr><th><img src="/static/images/dir_listing/blank.gif" alt="[ICO]"></th><th><a href="#">Name</a></th><th><a href="#">Last modified</a></th><th><a href="#">Size</a></th><th><a href="#">Description</a></th></tr><tr><th colspan="5"><hr></th></tr>
<tr>
	<td valign="top"><img src="/static/images/dir_listing/back.gif" alt="[DIR]"></td>
	<td><a href="/">Parent Directory</a></td>
	<td>&nbsp;</td>
	<td align="right">  - </td>
	<td>&nbsp;</td>
</tr>

{% for l in urls %}
<tr>
	<td valign="top"><img src="/static/images/dir_listing/{{l.0}}" alt="{{l.1}}"></td>
	<td><a href="{{l.2}}">{{l.2}}</a></td>
	<td align="right">{{l.3}}  </td>
	<td align="right">{{l.4}}</td>
	<td>&nbsp;</td>
</tr>
{% endfor %}
<tr><th colspan="5"><hr></th></tr>
</table>
</body></html>
