{% extends 'master_home.html' %}

{% block content %}

	<div class="container">
		<div class="hero-unit">
			{% for t in random_texts %}
				<p>{{t}}</p>
			{% endfor %}
		</div>
		{% for c in cols %}
		<div class="span{{spans}}">
				<p>{{c}}</p>
		</div>
		{% endfor %}
	</div>
	<br />
	<div class="container">

		<ul class="thumbnails">
		{% for i in imgs %}
			<li class="span{{imgspans}}">
					<img src="/static/images/phantom/nasa{{i}}.jpg" alt="Twitter">
			</li>
		{% endfor %}
		</ul>

		<p>* Images from NASA</p>

	</div>

{% endblock %}