{% extends 'master_home.html' %}

{% block content %}


	<div class="container">
		{% if random_texts %}
		<div class="hero-unit">
			{% for t in random_texts %}
				<p>{{t}}</p>
			{% endfor %}
		</div>
		{% endif %}

		{% for c in cols %}
		<div class="span{{spans}}">
				<p>{{c}}</p>
		</div>
		{% endfor %}
	</div>
	<br />
	{% if imgs %}
	<div class="container text-center">

		<ul class="thumbnails">
		{% for i in imgs %}
			<li class="span{{imgspans}}">
					<img src="/static/images/phantom/nasa{{i}}.jpg" alt="NASA image" class="img-{{img_borders|random}}" >
			</li>
		{% endfor %}
		</ul>

		<p>* Images from NASA</p>

	</div>
	{% endif %}

{% endblock %}