{% extends 'master_home.html' %}

{% block content %}
	<div class="container">
		<div class="page-header">
			<h1>Page links</h1>
		</div>


		<div class="container">
			<div class="row">
				<div class="span1"></div>
				<div class="span10">
					<table class="table">
						<thead>
							<tr>
								<td>#</td>
								<td>Link</td>
							</tr>
						</thead>
						<tbody>
							{% for l in urls %}
							<tr>
								<td><span class="label">{{ l.0 }}</span></td>
								<td><a href="{{l.1}}">{{l.1}}</a></td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
					</div>
				<div class="span1"></div>
			</div>
		</div>
	</div>

{% endblock %}