<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>GoLismero 2.0 :: {{ page.title }} </title>

    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/pygment_trac.css">
    <script src="/javascripts/scale.fix.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <script type="text/javascript">
      // Check the URL
      var url = window.location.host.toLowerCase();    
      if (url != "golismero-project.com" && url != "www.golismero-project.com")
      {
        window.location = "http://golismero-project.com";
      }
    </script>
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1 class="header">Golismero</h1>
        <p class="header">The Web Knife</p>

        <ul>          
          <li><a class="simplebuttons" href="/tutorials/index.html">Tutorials</a></li>
          <li><a class="simplebuttons" href="/api/index.html">API</a></li>
          <li class="download"><a class="buttons" href="https://github.com/cr0hn/golismero/zipball/master">Download ZIP</a></li>            
          <li><a class="buttons github" href="https://github.com/cr0hn/golismero">View On GitHub</a></li>
        </ul>

        <p class="header">This project is sponsored by:          
          <a class="header name" href="http://www.buguroo.com"><img style="border: none; width: 100px;" src="/images/logo-powered.png" alt="logo buguroo" /></a>
        </p>
  

      </header>
      <section>
        {{ content }}
      </section>
      <footer>
        <p>GoLismero Project &copy;2012-2013 - <script><!--
          var email = "golismero.project"
          var emailHost = "gmail.com"
          var arroba = String.fromCharCode(64)
          var contact = email + arroba + emailHost
          document.write("<strong><a href=" + "mail" + "to:" + email + arroba + emailHost+ ">" + contact + "</a></strong>" + ".")
          //--></script></p>
      </footer>
    </div>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
          <script type="text/javascript">
            var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
            document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
          </script>
          <script type="text/javascript">
            try {
              var pageTracker = _gat._getTracker("UA-26799972-1");
            pageTracker._trackPageview();
            } catch(err) {}
          </script>

  </body>
</html>